@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #F9F9F9;
    font-family: 'Roboto';
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "menu menu"
        "principal secundario";
}

main {
    grid-area: principal;
    display: flex;
    padding: 1rem;
    justify-content: end;
}

aside {
    grid-area: secundario;
    padding: 1rem;

    & .video-alternativo:not(:first-child) {
        margin-top: 10px;
    }
}


.video {
    & img {
        max-width: 100%;
        height: auto;
    }
}

h1 {
    font-style: normal;
    font-weight: 700;
    margin-top: 12px;
    margin: 12px 0 7px 0;
}

.destaque {
    flex-direction: column;

    & .visualizacao {
        font-weight: 600;
        font-size: 14px;
    }

    & p {
        font-weight: 300;
        font-size: 12px;
        margin: 10px 0;
        color: #515151;
    }
}



h2 {
    font-weight: 700;
    font-size: 14px;
}

.video-alternativo {
    display: flex;
    gap: 10px;

    & .conteudo {
        display: flex;
        flex-direction: column;
        padding: .5rem 0;
    }

    & .visualizacao,
    & .autor,
    & .data {
        font-weight: 300;
        font-size: 12px;
        color: #515151;
    }

    & .autor {
        margin: .25rem 0;
    }

}

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;

    & img.logo {
        width: auto;
        height: fit-content;
        margin-left: .5rem;
    }

    & nav {
        display: flex;
        flex-direction: row;

        & .hamburguer {
            appearance: none;
        }

        & label {
            display: block;
            cursor: pointer;
            padding: .5rem 0;

            & span {
                display: block;
                position: relative;
                height: 2px;
                width: 1rem;
                background-color: #000;
                transition: .5s;
                border-radius: 2px;

                &::after,
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 1rem;
                    background: #000;
                    transition: .5s;
                    border-radius: 2px;
                }

                &::before {
                    margin-top: .25rem;
                }

                &::after {
                    margin-top: -.25rem;
                }
            }
        }

        & .hamburguer:checked+label span {
            background-color: transparent;

            &::before {
                transform: rotate(45deg);
                margin-top: 0;
            }

            &::after {
                transform: rotate(-45deg);
                margin-top: 0;
            }
        }

        & ul {
            list-style: none;
            margin-top: 1.25rem;
            position: absolute;
            transition: .5s;
            display: none;
            margin-left: .25rem;
            background-color: #fff;

            & li:not(:first-child) {
                margin-top: .25rem;
            }
        }

        & .hamburguer:checked+label+ul {
            display: block;
        }


    }

    & .procurar {
        display: flex;
        flex-direction: row;
        align-items: center;

        & input {
            border: 1px solid #CCCCCC;
            padding: .25rem;
            height: 40px;
            width: 400px;
        }

        & span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: -2rem;
            border: 1px solid #CCCCCC;
            background-color: #F8F8F8;
            width: 60px;
            height: 40px;
            cursor: pointer;
        }

        & img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    & .perfil {
        display: flex;
        flex-direction: row;
        gap: .5rem;

        & img {
            width: 1rem;
            height: 1rem;
            cursor: pointer;
        }
    }
}


.rounded {
    border-radius: 50%;
}

.channel-info {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

    & .channel-logo {
        display: flex;
        font-size: 14px;
        gap: 10px;
        & img {
            width: 42px;
            height: 42px;
            display: inline-block;
        }

        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        & .channel-name {
            font-weight: 600;
        }

        & .channel-subscribers {
            font-weight: 400;
            color: #515151;
        }

    }

    & button.subscribe {
        background-color: #FF0000;
        color: #fff;
        padding: .5rem 1rem;
        border: none;
        height: 40px;
        border-radius: 3px;
        cursor: pointer;
    }

        & i {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            cursor: pointer;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                width: 1.5rem;
                height: 1.5rem;
                background-size: cover;
                margin-right: 5px;
            }
            &.thumbs-ups::before {
                background-image: url('../img/thumbs-up.png');
            }

            &.thumbs-down::before {
                background-image: url('../img/thumbs-down.png');
            }
            &.share::before {
                background-image: url('../img/share-2.png');
            }
            &.download::before {
                background-image: url('../img/download.png');
            }
        }

    
}